#footer {
    padding: 4rem 0 2rem;
    background: #000;
    text-align: center;
}

#footer .copyright {
    color: #bbb;
    font-size: .9rem;
    margin: 0 0 2rem;
    padding: 0;
    text-align: center;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/wallpapersden.com_sekiro-art_1920x1080.jpg);
    margin: 0;
    background-repeat: repeat;
    font-family:Arial, sans-serif;
    color: white;
}
section{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #696969;
    position: relative;
}

aside#autre{
    display: block;
}
h2.title{
    background-color: gold;
    color: black;
    font-size: 2rem;
    font-weight: bold;

}
aside#autre>img{
    /* height: 400px; */
}
h1{
    font-weight: bold;
    font-size: 2rem;
    margin: 0%;
}
h2,h3{
    margin: 0%;
}


/* début partie header */
header {
    background-color: gray;
    margin: 0% 15%;
    height: 10%;
}

div.img {
    float: left;
    margin: 15px;
    margin-right: 0%;
}

header div.text {
    display: flex;
}

header span {
    font-size: 20px;
    height: 100px;
    margin-top: 20px;
    margin-left: 10px;
    flex: 1;
    height: 40px;
}

header div.container {
    display: flex;
    margin: auto 0;
}
/* fin partie header */